{% extends 'starwars/base.html' %}
{% block content %}

    <h2>Feb. 18, 2018 9:32 a.m..csv</h2>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">name</button>
        <button type="button" class="btn btn-secondary">height</button>
        <button type="button" class="btn btn-secondary">mass</button>
      </div>

      <br/><br/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">height</th>
            <th scope="col">mass</th>
            <th scope="col">hair_color</th>
            <th scope="col">scin_color</th>
            <th scope="col">eyes_color</th>
            <th scope="col">birth_date</th>
            <th scope="col">gender</th>
            <th scope="col">homeworld</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>02/12/2013</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
                <td>02/12/2013</td>
          </tr>
          <tr>
            
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>02/12/2013</td>
          </tr>
        </tbody>
      </table>
    
{% endblock%}